#content_header
{
	color:#00aedb;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	width:100%;
	position:relative;
	margin-bottom:40px;
	background-image:url(../images/breadcrumb-bg.png);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-bottom:30px;
}

#gift_list
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.gift_row
{
	border-bottom:#CCC 1px solid;
	height:80px;
	line-height:80px;
	vertical-align:center;
	color:#8c8c8c;
}
.gift_row:hover
{
	background:#e6eff2;
	color:#8c8c8c;
	cursor:pointer;
}
.gift_row:hover .gift_left
{
	color:#00a8d3;
}
.gift_left
{
	display:inline-block;	
	vertical-align:top;
	max-width:550px;
}

.gift_right
{
	display:inline-block;	
	float:right;
	margin-right:15px;
	text-align:right;	
}
.gift_image
{
	display:inline-block; 
	vertical-align:top;
	margin-left:10px;
	margin-right:10px;
	
}

.gift_none
{
	color:#8B8B8B;
	min-height:327px;
	text-align:center;
}