@main("Giffyt - FAQ") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/faq.css")">

<div id="content">
    <div id="received_content">
        <div id="content_header">Contact Us</div>

        <div id="faq_list">
            <div class="faq_row">
                <div class="faq_q">
                    <center>Have any feedbacks, questions? Drop us an email at support&#64;giffyt.com.</center>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
}(true)(false)(null)(null)("contactus")