@main("Giffyt - FAQ") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/faq.css")">

	<div id="content">
		<div id="received_content">
	        <div id="content_header">FAQ</div>

            <div id="faq_list">
	        	<div class="faq_row">
					<div class="faq_q">
	                	Q: What is Giffyt?
	                </div>
	                <div class="faq_a">
	                    Giffyt is a social gift giving platform.
                    </div>
	            </div>
                <div class="faq_row">
                    <div class="faq_q">
                        Q: What is special about Giffyt?
                    </div>
                    <div class="faq_a">
                        Your friend will be able to exchange the gift to another goods of his/her liking, unless you make it a surprise. To make it more convenient, the delivery address can be entered by the recipient. Let's say.. her office address perhaps?
                    </div>
                </div>
	        	<div class="faq_row">
					<div class="faq_q">
	                	Q: How do I get started?
	                </div>
	                <div class="faq_a">
                        It takes 3 steps to give:<br/>
                        1. Select from your list of Facebook friends or events to celebrate.<br/>
                        2. Decide on a budget and suitable gift from the list of curated products. Do not worry about getting the right gift, your friend will have a chance to decide on the gift.<br/>
                        3. Make payment using Paypal or Credit card and your friend will be notified on the gift.<br/>
                        <br/>
                        It's simple.
                    </div>
	            </div>
                <div class="faq_row">
                    <div class="faq_q">
                        Q: How long does it take for my order to be delivered?
                    </div>
                    <div class="faq_a">
                        Delivery time varies for each gifts. Usually it will take 3-5 business days once your friend responds to your gift.
                    </div>
                </div>
	        	<div class="faq_row">
					<div class="faq_q">
	                	Q: What if my friend does not respond to my gift?
	                </div>
	                <div class="faq_a">
                        Your gift notification will be valid for 30 days. If your friend does not respond within the valid period, your payment will be refunded to the credit card used for purchase.
	                </div>
	            </div>
	        	<div class="faq_row">
					<div class="faq_q">
	                	Q: What do I need to know as the recipient?
	                </div>
	                <div class="faq_a">
	                    You've got your gift! What you need to do now is to check out the gift. If you prefer to have something else or just curious, click on "Change Gift" button, and you will be presented with a set of gifts for exchange.
                        After that, just enter the address where you want to have the gift sent and that's it!
                        <br/>However, if the gift that you receive is a surprise, then it's a surprise. Enter your address and wait for the gift to arrive at your door steps.

	                </div>
	            </div>
                   <div class="faq_row">
                       <div class="faq_q">
                           Q: The gift that I receive is a defect, what do I need to do?
                       </div>
                       <div class="faq_a">
                           Not to worry, send us a email to support&#64;giffyt.com with your gift reference number. We will let you know where to have your product replaced.
                       </div>
                   </div>
                   <div class="faq_row">
                       <div class="faq_q">
                           Q: I want to send a gift to my friend, but he/she does not have a Facebook account. Can I still send a gift?
                       </div>
                       <div class="faq_a">
                           At the moment we only allow sending gifts to your Facebook friends.
                       </div>
                   </div>
                   <div class="faq_row">
                       <div class="faq_q">
                           Q: I do not know my friend's email address, is there other way to send to my friend?
                       </div>
                       <div class="faq_a">
                           Currently the only way to notify your friend is by email.
                       </div>
                   </div>
                   <div class="faq_row">
                       <div class="faq_q">
                           Q: I have entered my shipping address, will the sender be informed?
                       </div>
                       <div class="faq_a">
                           We will not inform the sender where the gift is going to be sent to.
                       </div>
                   </div>
                   <div class="faq_row">
                       <div class="faq_q">
                           Q: I change the gift, will the sender be notified?
                       </div>
                       <div class="faq_a">
                           Sender will not know which the gift that you eventually choose.
                       </div>
                   </div>
	        </div>
	    </div>
	</div>
    <br/>
}(true)(false)(null)(null)("faq")