@(page: String)
<div id="main_footer">
	<div id="footer_content">
    	<div id="copyright">Giffyt &#64; 2013</div>
    	<div align="right" id="footer_menu">
        	<a href="@routes.Application.tos()" class="menu_btn">Terms of Service</a>
        	<a href="@routes.Application.privacy()" class="menu_btn">Privacy Policy</a>
        	<a href="@routes.Application.faq()" class="menu_btn">FAQ</a>
        	<a href="@routes.Application.contactUs()" class="menu_btn">Contact Us</a>
            <a href="http://www.facebook.com/Giffyt" target="_blank"><div class="sprites sprite-fb_footer" style="vertical-align:top; display:inline-block; margin-left:10px;"></div></a>
        </div>
    </div>
</div>