@(title: String)(content: Html)(h1: Boolean)(h2: Boolean)(friend: User)(friends: List[User])(page: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.placeholder.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/scroll.js")" type="text/javascript"></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/fb.js")'></script>
        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/header.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/footer.css")" type="text/css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" type="text/css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36579053-1']);
        _gaq.push(['_setDomainName', 'giffyt.com']);
        _gaq.push(['_trackPageview']);

        (function() {
        $('input, textarea').placeholder();

        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <body>
    	@header(h1)
        @header2(h2)(friend)(friends)(page)
        <div style="margin:20px 0 0 0px;">
        @content
        </div>
        <a id="back_to_top">
		</a>
    </body>
    @footer(page)
</html>
