@main("Giffyt - Privacy Policy") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/static.css")">

<div id="content">
    <div id="received_content">
        <div id="content_header">Privacy Policy</div>

        <div id="list">
            <div class="row">
                <div class="row_header">
                    <center>Collection of Personal Information</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>Giffyt does not sell, share or trade customers personal information collected online with third parties.</li>
                        <li>  Personal information collected online will only be disclosed within our corporate group for internal use only.</li>
                        <li>  When you create a Giffyt account the personal information we collect may include your:</li>
                            <ul>
                                <li>Name</li>
                                <li>Delivery Address</li>
                                <li>Email Address</li>
                                <li>Telephone Number</li>
                                <li>Mobile Number</li>
                                <li>Date of Birth</li>
                                <li>Gender</li>
                            </ul>
                        <li>The personal information we collect from you will be used in some or all of the following ways:</li>
                            <ul>
                                <li>To deliver the products you have purchased from Giffyt</li>
                                <li>To update you on the delivery of the product and for customer support purposes</li>
                                <li>To provide you with relevant product information</li>
                                <li>To process your orders and to provide you with the services and information offered through our website and which you request</li>
                                <li>Further, we will use the information you provide to administer your account with us; verify and carry out financial transactions in relation to payments you make online; audit the downloading of data from our website; improve the layout and/or content of the pages of our website and customise them for users; identify visitors on our website; carry out research on our users’ demographics; send you information we think you may find useful or which you have requested from us, including information about our products and services, provided you have indicated that you have not objected to being contacted for these purposes</li>
                            </ul>
                        <li>We may pass your name and address on to a third party in order to make delivery of the product to you (for example to our courier or supplier).</li>
                        <li>Payments that you make through the Site will be processed by Paypal. You must only submit to Paypal information which is accurate and not misleading and you must keep it up to date and inform us of changes.</li>
                        <li>You undertake to treat the personal access data confidentially and not make it available to unauthorised third parties. We cannot assume any liability for misuse of passwords unless this misuse is our fault.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Disclosure of Personal Information</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>We will not share your information with any other organisations other than related companies and those third parties directly related to the delivery of the products you have purchased from Giffyt website.</li>
                        <li>In exceptional circumstances Giffyt may be required to disclose personal information, such as when there are grounds to believe that the disclosure is necessary to prevent a threat to life or health, or for law enforcement purposes.</li>
                        <li>Giffyt is committed to complying with the Privacy Act and the National Privacy principles.</li>
                        <li>If you believe that your privacy has been breached by Giffyt please contact us at support&#64;giffyt.com and we will resolve the issue.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Collection of Computer Data</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>When you visit Giffyt, our company servers will automatically record information that your browser sends whenever you visit a website. This data may include:</li>
                            <ul>
                                <li>Your computer's IP address</li>
                                <li>Browser type</li>
                                <li>Webpage you were visiting before you came to our site</li>
                                <li>The pages with in Giffyt you visit</li>
                                <li>The time spent on those pages, products and information searched for on our site, access times and dates, and other statistics.</li>
                            </ul>
                        <li>This information is collected for analysis and evaluation in order to help us improve our site and the services and products we provide. This data will not be used in association with any other personal information.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Changes to the Privacy Policy</center>
                </div>
                <div class="row_content">
                    Giffyt reserves the right to modify and change the Privacy Statement at any time. Any changes to this policy will be published on our site.
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
}(true)(false)(null)("privacy")