@main("Giffyt - Terms of Service") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/static.css")">

<div id="content">
    <div id="received_content">
        <div id="content_header">Terms of Service</div>

        <div id="list">
            <div class="row">
                <div class="row_header">
                    <center>Introduction</center>
                </div>
                <div class="row_content">
                    Welcome to Giffyt. By using Giffyt.com you agree to the following terms and the general principles for this Website. If you have any questions, please refer to our FAQs section.
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Scope</center>
                </div>
                <div class="row_content">
                    Before you may become a member of the Website, you must read and accept all of the terms and conditions in, and linked to, this Terms of Service and Privacy Policy. We strongly recommend that, as you read this Terms of Service, you also access and read the linked information. By accepting this Terms of Service, you agree that this Terms of Service and Privacy Policy will apply whenever you use our Website and services, or when you use the tools we make available to interact with our Website and services.
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Your Account</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>If you use this Website, you will be required to login using your Facebook account and you are responsible for maintaining the confidentiality of your Facebook account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.</li>
                        <li>If you are under 18 years old, you may use this Website only with authorization from a parent or legal guardian.</li>
                        <li>The Company reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in its sole discretion.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Trademarks and Copyright</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>All third party trade marks and images of third party products, services, or locations featured on this Site are in no way associated or affiliated with Giffyt.com, except where the contrary is expressly stated. Any trade marks/names featured on this Site are owned by the respective trade mark owners. Where a trade mark or brand name is referred to, it is used solely to describe or identify the products and services and is in no manner an assertion that such products or services are endorsed by or connected to Giffyt.com.</li>
                        <li>Giffyt may from time to time offer free products of certain brands to our customers for promotional purposes and does not work with or represent the respective brands and therefore we shall not be liable for any misuse of the trademarks, logos and service marks of their respective owner.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Purchase and Payment</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>You should carefully read the products detail page and review information such as price, option price, shipping charges etc. and terms and conditions for sales before purchasing a product.</li>
                        <li>We take no responsibility and assume no liability for any loss or damages to a buyer arising from shipping information and/or payer information entered by the buyer or wrong remittance by the buyer in connection with the payment for the products purchased.</li>
                        <li>We reserve the right to check whether a buyer is duly authorized to use certain payment method, and may suspend the transaction until such authorization is confirmed or cancel the relevant transaction where such confirmation is not available.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Delivery</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>We aim to deliver the Product to you at the place of delivery requested in the Order.</li>
                        <li>You should notify Giffyt immediately, via email referencing your order number, of any change to delivery address and/or contact number. Giffyt shall no longer be held liable if delivery is already made prior to the Customer’s notification.</li>
                        <li>The estimated number of days for delivery indicated for each product refers to the number of working days, not including Saturday, Sunday or Public Holidays. We aim to deliver within the time indicated by us after the Order is confirmed but we cannot promise an exact date.</li>
                        <li>We shall let you know if we foresee a delay in the delivery date, but, to the extent permitted by law, we shall not be liable to you for any losses, liabilities, costs, damages, charges and expenses arising out of late delivery.</li>
                        <li>Please note that it might not be possible for us to deliver to some locations. If this is the case, we will inform you using the contact details that you provide to us when you make your Order and arrange for cancellation of the Order or delivery to an alternative delivery address.</li>
                        <li>We deliver in our standard packaging. Any special packaging requested by you is subject to additional charges.</li>
                        <li>It is your responsibility to ensure that the Products are sufficient and suitable for your purposes and meet your individual requirements. We do not warrant that the Products will meet your individual requirements. You acknowledge that the Products are standard and not made bespoke to fit any particular requirements that you may have.</li>
                        <li>We shall not be liable for any Product damages caused by the shipping company.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Cancellation & Refunds</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>We may cancel an Order if the Product is not available for any reason. We will notify you if this is the case and return any payment that you have made.</li>
                        <li>We will usually refund any money received from you using the same method originally used by you to pay for the product.</li>
                        <li>You may cancel an order anytime before an order is confirmed and no cancellation fees will apply. However, an order cannot be cancelled after it is confirmed and charges may apply should you still want to cancel the order and will be reviewed on a case by case basis.</li>
                        <li>If the confirmed product costs less than the originally chosen product, then Giffyt will refund the difference to the paying customer via the original payment method.</li>
                        <li>Campaign products or Free products listed on our site cannot be refunded or exchanged for other products.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Faulty Products</center>
                </div>
                <div class="row_content">
                    <ul>
                        <li>We try to deliver Products in excellent condition. However, if you tell us that the Product is faulty, you agree to keep the Product in its current conditions available for us to inspect within a reasonable time. We allow up to 14 days for you to notify us of any faulty Product.</li>
                        <li>In order to provide you with any remedies for a faulty Product, we may need your assistance and prompt provision of certain information regarding the Product.</li>
                        <li>Should we find that the product has been misused, abused or subjected to neglect, improper or inadequate care, carelessness, damage or abnormal conditions, or wear and tear after delivery by us, we may at our discretion decide not to replace or refund you for the Product.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="row_header">
                    <center>Amendment to the General Business Terms of Service</center>
                </div>
                <div class="row_content">
                    We reserve the right to amend these Terms of Service at any time. All amendments to these Terms of Service will be posted on-line. However, continued use of the Site will be deemed to constitute acceptance of the new Terms of Service.
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
}(true)(false)(null)(null)("tos")









